# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
img/bgmov/anim00.png
img/bgmov/anim01.png
img/bgmov/anim02.png
img/bgmov/anim03.png
img/bgmov/anim04.png
img/bgmov/anim05.png
img/bgmov/anim06.png
img/bgmov/anim07.png
img/bgmov/anim08.png
img/bgmov/anim09.png
img/bgmov/anim10.png
img/bgmov/anim11.png
img/bgmov/anim12.png
img/bgmov/anim13.png
img/bgmov/anim14.png
